@charset "utf-08";

@media (max-width: 1010px) {

    #att{
    padding-top: 500px;
    }
}



*{

    color: white;
    text-decoration: none;
    font-weight: lighter;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

#seta img{

    width: 100px;
    height: 100px;
    position: fixed;
    bottom: 30px;
    right: 60px;
    
}

header{
    
    display: flex;
    justify-content: center;
    width: 100w;
    height: 13vh;
    background-color: rgba(255, 255, 255, 0.911);
    
}
#logo{
    
    margin: 4vh 10vw;
    width: 180px;
    
}
nav{
    
    
    align-items:center;
    margin: 6vh 10vw;
    width: 500px;
}
nav div{
    border-radius: 300px;
    color: black;
    padding: 10px;
    display: inline-block;
    text-align: center;
}
    nav div:hover{
        
        background-color: rgba(0, 0, 0, 0.219);
    }
body{
    
    background-color:#121314 ;
}
#background{

    background: center top no-repeat;
    background-image: url(img/Background_header.jpg);
}

#desc{
    
    padding-top: 60vh;
    color: white;
    width: 450px;
}
main{
    
    margin: auto;
    max-width: 1100px;
    height: auto;
   
    
}

#fotos{

    flex-wrap: wrap;
    justify-content: space-around;
    margin: 130px 0px 90px 0px;
    width: 100%;
    display: flex;
}
#fotos img{



   
    
}

div#att{

    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    display: flex;
    
}

#att h1{

    margin-bottom: 10px;
    color: rgb(0, 225, 255);
}
#att h2{
    width: 200px;
    margin-top: 80px;
    padding: 10px 20px ;
    text-align: center;
    border:2px solid white;
    font-size: 24px;
    
}
.inf{

    
    padding: 50px;
    font-size: 25px;
}
.inf h2{
    margin: auto;
}



#back{

    text-align: center;
    margin: auto;
}
#backgroundFooter{
    
    margin:auto;
    max-width: 1500px;
    height: 900px;

    background:center;
    background-repeat: no-repeat;
    background-image: url(img/Background_footer.jpg);
}

#centro{
    
}

footer h1{

    font-size: 25px;
    
    
    margin-top: 10vh;
    padding-top: 20px;
    text-align: center;
    height: 50px;
    width: 400px;
    border:2px solid white;
}
footer h2{
    margin-top: 60vh;
    color: white;
    align-items: center;
}
#final{
    
    align-items: center;
    flex-direction: column;
    display: flex;
}



